# General
.DS_Store
.env
*.log

# IDEs
.vscode/
.idea/

# Python / Backend
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
backend/media/

# Node / Frontend
node_modules/
dist/
build/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Docker / Database
mysql_data/
